@model List<Rating>

<body>
<div class="main-section">
    <div class="hedding-title">
        <h1>Star Rating System</h1>
    </div>
    <div class="rating-part">
        <div class="average-rating">
            <h2>2.5</h2>
            <i aria-hidden="true" class="fa fa-star"></i>
            <i aria-hidden="true" class="fa fa-star"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <i aria-hidden="true" class="fa fa-star-o"></i>
            <i aria-hidden="true" class="fa fa-star-o"></i>
            <p>Average Rating</p>
        </div>
        <div class="loder-ratimg">
            <div class="progress"></div>
            <div class="progress-2"></div>
            <div class="progress-3"></div>
            <div class="progress-4"></div>
            <div class="progress-5"></div>
        </div>
        <div class="start-part">
            <i aria-hidden="true" class="fa fa-star"></i>
            <i aria-hidden="true" class="fa fa-star"></i>
            <i aria-hidden="true" class="fa fa-star"></i>
            <i aria-hidden="true" class="fa fa-star"></i>
            <i aria-hidden="true" class="fa fa-star"></i>
            <span>80%</span><br>
            <i aria-hidden="true" class="fa fa-star"></i>
            <i aria-hidden="true" class="fa fa-star"></i>
            <i aria-hidden="true" class="fa fa-star"></i>
            <i aria-hidden="true" class="fa fa-star"></i>
            <i aria-hidden="true" class="fa fa-star-o"></i>
            <span>60%</span><br>
            <i aria-hidden="true" class="fa fa-star"></i>
            <i aria-hidden="true" class="fa fa-star"></i>
            <i aria-hidden="true" class="fa fa-star"></i>
            <i aria-hidden="true" class="fa fa-star-o"></i>
            <i aria-hidden="true" class="fa fa-star-o"></i>
            <span>40%</span><br>
            <i aria-hidden="true" class="fa fa-star"></i>
            <i aria-hidden="true" class="fa fa-star"></i>
            <i aria-hidden="true" class="fa fa-star-o"></i>
            <i aria-hidden="true" class="fa fa-star-o"></i>
            <i aria-hidden="true" class="fa fa-star-o"></i>
            <span>20%</span><br>
            <i aria-hidden="true" class="fa fa-star"></i>
            <i aria-hidden="true" class="fa fa-star-o"></i>
            <i aria-hidden="true" class="fa fa-star-o"></i>
            <i aria-hidden="true" class="fa fa-star-o"></i>
            <i aria-hidden="true" class="fa fa-star-o"></i>
            <span>10%</span>
        </div>
        <div style="clear: both;"></div>
        <div class="reviews">
            <h1>Reviews</h1>
        </div>
        <div class="comment-part">
            <div class="user-img-part">
                <div class="user-img">
                    <img src="/demo/man01.png">
                </div>
                <div class="user-text">
                    <h4>8 days ago</h4>
                    <p>Tom kok</p>
                    <span>Report</span>
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="comment">
                <i aria-hidden="true" class="fa fa-star"></i>
                <i aria-hidden="true" class="fa fa-star"></i>
                <i aria-hidden="true" class="fa fa-star"></i>
                <i aria-hidden="true" class="fa fa-star"></i>
                <i aria-hidden="true" class="fa fa-star-o"></i>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco.
                </p>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="comment-part">
            <div class="user-img-part">
                <div class="user-img">
                    <img src="/demo/man02.png">
                </div>
                <div class="user-text">
                    <h4>30 days ago</h4>
                    <p>Win Rool</p>
                    <span>Report</span>
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="comment">
                <i aria-hidden="true" class="fa fa-star"></i>
                <i aria-hidden="true" class="fa fa-star"></i>
                <i aria-hidden="true" class="fa fa-star"></i>
                <i aria-hidden="true" class="fa fa-star-o"></i>
                <i aria-hidden="true" class="fa fa-star-o"></i>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco.
                </p>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="comment-part">
            <div class="user-img-part">
                <div class="user-img">
                    <img src="/demo/man03.png">
                </div>
                <div class="user-text">
                    <h4>1 days ago</h4>
                    <p>Jui Choal</p>
                    <span>Report</span>
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="comment">
                <i aria-hidden="true" class="fa fa-star"></i>
                <i aria-hidden="true" class="fa fa-star"></i>
                <i aria-hidden="true" class="fa fa-star-o"></i>
                <i aria-hidden="true" class="fa fa-star-o"></i>
                <i aria-hidden="true" class="fa fa-star-o"></i>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco.
                </p>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="comment-part">
            <div class="user-img-part">
                <div class="user-img">
                    <img src="/demo/man04.png">
                </div>
                <div class="user-text">
                    <h4>24 days ago</h4>
                    <p>Jack Mins</p>
                    <span>Report</span>
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="comment">
                <i aria-hidden="true" class="fa fa-star"></i>
                <i aria-hidden="true" class="fa fa-star-o"></i>
                <i aria-hidden="true" class="fa fa-star-o"></i>
                <i aria-hidden="true" class="fa fa-star-o"></i>
                <i aria-hidden="true" class="fa fa-star-o"></i>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco.
                </p>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>
</body>